<app-navbar-bfa></app-navbar-bfa>
<div
  class="container d-flex flex-column justify-content-center align-items-center"
>
  <div class="text-center">
    <!-- desktop -->
    <div class="d-none d-md-block">
      <h5>Pendaftaranmu berhasil!</h5>
      <h2><strong>Tentukan pilihan paketmu sekarang</strong></h2>
      <h6 class="mt-3">
        Pilih sesuai kebutuhan kamu aja... Nanti bisa diganti kok
      </h6>
    </div>
    <!-- mobile -->
    <div class="d-sm-block d-md-none">
      <h6>Pendaftaranmu berhasil!</h6>
      <h4><strong>Tentukan pilihan paketmu sekarang</strong></h4>
      <h6 class="mt-3">
        Pilih sesuai kebutuhan kamu aja... <br />
        Nanti bisa diganti kok
      </h6>
    </div>
  </div>
  <div class="row mt-5">
    <div
      class="col-sm d-flex flex-wrap justify-content-center align-items-center"
    >
      <app-card></app-card>
    </div>
  </div>
</div>
