<div class="container">
  <!-- Mobile -->
  <div class="d-sm-block d-md-none">
    <div class="row mt-4">
      <div class="d-flex justify-content-center col-md-6 mt-4">
        <img
          src="../../../assets/home_cinema.png"
          alt="food image"
          width="60%"
        />
      </div>
      <div class="col-md-6 mt-5 mx px-5">
        <div class="d-flex h-100">
          <div class="justify-content-center align-self-center">
            <h5>
              <strong>Gabung sekarang...</strong> <br />
              Jadikan rumah serasa bioskop!
            </h5>
            <!-- signup form -->
            <app-signup-mobile></app-signup-mobile>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
