<div class="container">
  <!-- Mobile -->
  <div class="d-sm-block d-md-none">
    <div class="row mt-4">
      <div class="d-flex justify-content-center col-md-6 mt-4">
        <img
          src="../../../assets/home_cinema.png"
          alt="food image"
          width="60%"
        />
      </div>
      <div class="col-md-6 mt-5 mx px-5">
        <div class="d-flex h-100">
          <div class="justify-content-center align-self-center">
            <h5>
              <strong>Gabung sekarang...</strong> <br />
              Jadikan rumah serasa bioskop!
            </h5>

            <!-- sign up form -->
            <form class="mt-4">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nama Lengkap"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Username"
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter email"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                />
              </div>
              <div class="mt-4">
                <button type="submit" class="btn btn-block bg-gray">
                  Daftarkan saya!
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
