<div class="d-none d-md-block">
  <div class="row" style="height: 90vh">
    <div class="col-sm d-flex justify-content-center align-items-center">
      <img src="../../../assets/home_cinema.png" alt="food image" width="90%" />
    </div>
    <div class="col-sm d-flex justify-content-center align-items-center">
      <div>
        <h3>
          <strong>Gabung sekarang...</strong> <br />
          Jadikan rumah serasa bioskop!
        </h3>
        <form>
          <div class="form-group">
            <label for="email">Email address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="email..."
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
