.breadcrumb {
  background-color: transparent;
  padding: 0;
}

.movie-card-body {
  height: 70%;
  width: 100%;
  padding: 15px 10px;
  border-radius: 10px;
  background-color: #313a49;
  color: #ffffff;
}

.movie-card-body:hover {
  background-color: #1f2937;
  cursor: pointer;
}

.movie-card-body p {
  color: #ffffff;
}
