<app-navbar></app-navbar>
<div class="container">
  <div
    class="d-flex flex-column justify-content-center align-items-center"
    style="height: 90vh"
  >
    <div class="px-2">
      <h5>
        <strong>Udah ga sabar pengen nonton?</strong> <br />
        Login dulu yuk...
      </h5>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mt-4">
        <div class="form-group">
          <input
            type="username"
            class="form-control"
            id="username"
            formControlName="username"
            placeholder="username..."
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
            placeholder="password..."
          />
        </div>
        <div *ngIf="loginError" class="alert alert-danger" role="alert">
          Data login yang anda masukkan salah!
        </div>
        <div
          *ngIf="loginNotProvidedError"
          class="alert alert-danger"
          role="alert"
        >
          Anda harus mengisi lengkap data untuk login!
        </div>
        <button type="submit" class="button btn-block bg-gray">
          <strong>Siap Login!</strong>
        </button>
        <app-modal [modalData]="usersDataModal"></app-modal>
        <div class="mt-2">
          <small>
            Belum punya akun? Silahkan
            <a [routerLink]="['/daftar']"> <strong>Daftar</strong> </a>
          </small>
        </div>
      </form>
    </div>
  </div>
</div>
