<app-navbar></app-navbar>
<div class="container">
  <div
    class="d-flex flex-column justify-content-center align-items-center"
    style="height: 90vh"
  >
    <div class="px-2">
      <h5>
        <strong>Udah ga sabar pengen nonton?</strong> <br />
        Login dulu yuk...
      </h5>

      <form class="mt-4">
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="email..."
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="password..."
          />
        </div>
        <button type="submit" class="btn btn-block bg-gray">
          <strong>Siap Login!</strong>
        </button>
        <div class="mt-3">
          <small>
            Belum punya akun? Silahkan
            <a [routerLink]="['/daftar']"> <strong>Daftar</strong> </a>
          </small>
        </div>
      </form>
    </div>
  </div>
</div>
