<div
  class="container d-flex flex-column justify-content-center align-items-center"
>
  <h4 class="d-none d-md-block">
    Tempatnya nonton film, drama, tv series, anime, dll.
    <br />
    Sepuasnya tanpa iklan!
  </h4>

  <h5 class="d-sm-block d-md-none">
    Tempatnya nonton film, drama, tv series, anime, dll.
    <br />
    Sepuasnya tanpa iklan!
  </h5>

  <a [routerLink]="['/daftar']">
    <button class="btn mt-4 py-3 px-5" style="width: 20em">
      <strong>Daftar Sekarang!</strong>
    </button>
  </a>
</div>
