<app-navbar-bfa></app-navbar-bfa>
<div class="container mt-4" *ngIf="movie">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/movie-dashboard']">Movie Dashboard</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <a [routerLink]="['/movie, movieId']"><strong>Movie Detail</strong></a>
      </li>
    </ol>
  </nav>
  <div class="mt-4">
    <h4>Movie Detail</h4>
    <hr />
    <p>
      <strong>{{ movie.title }} </strong>
    </p>
    <p>
      <small
        ><strong>{{ movie.genre }}</strong></small
      >
    </p>
    <p>
      {{ movie.description }}
    </p>
    <button class="button btn btn-block">
      <strong *ngIf="!movie.purchased; else elseBlock">Beli Film</strong>
      <ng-template #elseBlock> <strong>Nonton Film</strong></ng-template>
    </button>
  </div>
</div>
