*,
*:active,
*:focus {
  outline: none !important;
}

* {
  font-family: "Montserrat", sans-serif;
  color: #374151;
}

body {
  padding-top: 65px;
  background-color: #f9fafb;
}

a {
  color: #374151;
}

a:hover {
  cursor: pointer;
}

.bg-gray {
  background-color: #e5e7eb;
}

.button {
  padding: 1em;
  font-size: 0.9em;
  border-radius: 10px;
  background-color: #374151;
}

.button strong {
  color: #ffffff;
}

.button:hover {
  background-color: #1f2937;
}

.breadcrumb {
  background-color: transparent;
  padding: 0;
}

.movie-card-body {
  height: 70%;
  width: 100%;
  padding: 15px 10px;
  border-radius: 10px;
  background-color: #313a49;
  color: #ffffff;
}

.movie-card-body:hover {
  background-color: #1f2937;
  cursor: pointer;
}

.movie-card-body p {
  color: #ffffff;
}
