* {
  font-family: "Montserrat", sans-serif;
  color: #374151;
}

body {
  padding-top: 65px;
  background-color: #f9fafb;
}

a {
  color: #374151;
}

.bg-gray {
  background-color: #e5e7eb;
}

.btn {
  padding: 1em;
  font-size: 0.9em;
  border-radius: 10px;
  background-color: #374151;
}

.btn strong {
  color: #ffffff;
}

.btn:hover {
  background-color: #4b5563;
}
