* {
  font-family: "Montserrat", sans-serif;
  color: #374151;
}

body {
  padding-top: 65px;
  background-color: #f9fafb;
}

a {
  color: #374151;
}

a:hover {
  cursor: pointer;
}

.bg-gray {
  background-color: #e5e7eb;
}

.button {
  padding: 1em;
  font-size: 0.9em;
  border-radius: 10px;
  background-color: #374151;
}

.button strong {
  color: #ffffff;
}

.button:hover {
  background-color: #4b5563;
}

@media screen and (min-width: 768px) {
  .alert {
    width: 330px;
  }
}
