* {
  color: #374151;
}
.navbar-brand {
  font-size: 1.5em;
  font-weight: 700;
  color: #374151;
}

.navbar-brand:focus,
.navbar-brand:active {
  color: #374151;
}

.bg-gray {
  background-color: #e5e7eb;
}
